// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

//globals
$font-size-root: 18px;
$body-font-family: 'Lato', sans-serif;

//scoped
$footer-background-color: white;
$homepage-footer-background-color: #f8f8f8;
$logo-width: 180px;
$logo-height: 50px;
$padding-li: 1rem;
$padding-nav-container: 3rem;

//mixins
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin container-flex-center($direction) {
  @include flex($direction);
  justify-content: center;
  align-items: center;
}

@mixin gradient {
  background: rgb(22, 34, 42);
  background: -moz-linear-gradient(
    240deg,
    rgba(22, 34, 42, 1) 0%,
    rgba(58, 96, 115, 1) 100%
  );
  background: -webkit-linear-gradient(
    240deg,
    rgba(22, 34, 42, 1) 0%,
    rgba(58, 96, 115, 1) 100%
  );
  background: linear-gradient(
    240deg,
    rgba(22, 34, 42, 1) 0%,
    rgba(58, 96, 115, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16222a",endColorstr="#3a6073",GradientType=1);
}

@mixin box-shadow {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

@mixin border-radius {
  border-radius: .6rem;
}
