// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

//globals
$font-size-root: 18px;
$body-font-family: 'Lato', sans-serif;

//scoped
$footer-background-color: white;
$homepage-footer-background-color: #f8f8f8;
$logo-width: 180px;
$logo-height: 50px;
$padding-li: 1rem;
$padding-nav-container: 3rem;

//mixins
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin container-flex-center($direction) {
  @include flex($direction);
  justify-content: center;
  align-items: center;
}
